[Desktop Entry]
Name=NixForge
Comment=NixOS Configuration Editor
Exec=nixforge
Terminal=false
Type=Application
Categories=Development;
Icon=utilities-terminal
